# nvim
nvim-lua/.config/nvim/spell/
nvim-lua/.config/nvim/plugged/
nvim-lua/.config/nvim/autoload/
nvim-lua/.config/nvim/nvim-vimscript/autoload/
nvim-lua/.config/nvim/nvim-vimscript/plugged/

# zsh
zsh/.config/zsh/.zcompdump

# rclone
rclone/
rclone-browser/

# scripts
scripts/*
!scripts/apps/
!scripts/bspwm/
!scripts/dmenu/
!scripts/rclone/
!scripts/sys/
!scripts/compiler
!scripts/fast
!scripts/prompt
!scripts/texclear
!scripts/ttymaps.kmap
