# nvim
nvim-lua/.config/nvim/plugged/
nvim-lua/.config/nvim/autoload/
nvim-lua/.config/nvim/nvim-vimscript/autoload/
nvim-lua/.config/nvim/nvim-vimscript/plugged/

# zsh
zsh/.config/zsh/.zcompdump

# rclone
rclone/
rclone-browser/

# scripts
scripts/*
!scripts/bspwm/
!scripts/rclone/
!scripts/autostart-umar
!scripts/battery-notify
!scripts/bt-con-earphone
!scripts/bt-con-speaker
!scripts/bt-discon-earphone
!scripts/bt-discon-speaker
!scripts/change-brightness
!scripts/change-volume
!scripts/compiler
!scripts/dmenu-sysact
!scripts/fast
!scripts/paccache-clear
!scripts/prompt
!scripts/remaps
!scripts/texclear
!scripts/ttymaps.kmap
!scripts/winhide
